.Nobtn-logout-modal{
    background-color: var( --color-primary)!important;
    border: none !important;
}
.Yesbtn-logout-modal{
    background-color:var( --color-primary)!important;
    border: none !important;
}