/* Modal.css */
.modal .modal-dialog {
    max-width: 580px;
}

.modal .modal-content {
    border-radius: 8px;
    padding: 10px;
}



.modal .modal-body {
    padding: 20px;
}

.modal .modal-footer {
    border-top: 1px solid #dee2e6;
}

.modal-sign-btn{
    display: flex;
    justify-content: center;
}

.SignIn-btn {
    background: transparent;
    border: none;
    color: #C49871;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-align: center;
}

.SignIn-btn:hover {
    color: #ca7123;
    text-decoration: underline;
}
.SignIn-btn:focus{
    outline: none;
    background-color: transparent;
    border: none;
}

.login-input-forpass{
    width: 100%;
    padding: 22px 16px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}

/* OTP */
.otp-input-container {
    display: flex;
    gap: 10px; 
    padding: 15px;
    justify-content: center;
}

.otp-input {
    width: 50px; 
    height: 50px; 
    text-align: center;
    font-size: 24px; 
    border: 0.7px solid #667085; 
    border-radius: 4px; 
    outline: none; 
    transition: border-color 0.3s;
}

.otp-input:focus {
    border-color: #b4d8fe; 
}

.otp-label{
    color: #667085;
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    text-align: center;
}

.resend-txt{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color:  #667085 ;
    text-decoration: underline;
}
.resend-txt span{
    text-decoration: none;
}
hr{
    border-top: 1px solid #C49871;
}
