.todays-shoot-wrapper {
  /* background: #f7f3ef; */
  /* background: #fff; */
  padding: 30px;
  border-radius: 18px;
  border: 1px solid #e1d6cd !important;
}

.todays-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #4b2e1e;
  margin-bottom: 30px;
}

/* Card */
.shoot-card {
  background: #ffff;
  border: 1px solid #e1d6cd;
  border-radius: 16px;
  padding: 20px 24px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.3s;
}

.shoot-card:hover {
  background: #efe7e1;
}

/* Left */
.shoot-name {
  font-size: 18px;
  font-weight: 600;
  color: #4b2e1e;
  margin-bottom: 6px;
}

.shoot-sub {
  font-size: 13px;
  color: #8a7f78;
}

.dot {
  margin-left: 14px;
}

/* Right */
.shoot-time-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

.shoot-time {
  font-size: 14px;
  font-weight: 600;
  color: #4b2e1e;
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrow-icon {
  font-size: 18px;
  color: #c1b6ae;
  cursor: pointer;
}
