.recent-payout-wrapper {
  background: #ffff;
  padding: 30px;
  border-radius: 18px;
  border: 1px solid #e1d6cd !important;
}

.recent-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #4b2e1e;
  margin-bottom: 30px;
}

/* Card */
.payout-card {
  background: #ffff;
  border: 1px solid #e1d6cd;
  border-radius: 16px;
  padding: 20px 24px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.payout-card:hover {
  background: #efe7e1;
}

/* Left */
.payout-name {
  font-size: 18px;
  font-weight: 600;
  color: #4b2e1e;
  margin-bottom: 6px;
}

.payout-sub {
  font-size: 13px;
  color: #8a7f78;
}

.dot {
  margin-left: 14px;
}

/* Right */
.payout-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.payout-amount {
  font-size: 16px;
  font-weight: 600;
  color: #4b2e1e;
}

.payout-status {
  font-size: 13px;
  font-weight: 500;
}

.payout-status.paid {
  color: #28af38;
}

.payout-status.partial {
  color: #28af38;
}

.arrow-icon {
  font-size: 18px;
  color: #c1b6ae;
  cursor: pointer;
}

/* View More */
.view-more {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  color: #8a7f78;
  cursor: pointer;
}

.view-more:hover {
  color: #4b2e1e;
}
