/* .wa-pinned-wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

   width: calc(100% - 32px); 
  max-width: 720px;

  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
} */


.wa-pinned-wrapper {
  position: sticky;
  top: 0; /* sticks to top of chat */
  z-index: 20;

  width: 100%;
  max-width: 100%;

  background: #ffffff;
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.wa-pinned-content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-left: 4px solid var(--color-primary);
  justify-content: center;
}

.pin-icon {
  font-size: 16px;
}

.wa-pinned-text {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  overflow: hidden;
}

.wa-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wa-subtitle {
  font-size: 12px;
  color: #6b7280;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
