.footer{
    background-color: #D9D9D9;
    position:fixed;
    bottom:0;
    width:100%;
    height:50px;
    z-index: 1000;
}
.footer-txt{
   text-align: center;
   padding-top: 15px;
   color: #5E5E5E;
}
@media (max-width: 768px){  
    .footer{
        z-index: 1000;
    }
}