.sidebar {
  background-color: #ffffff;
  color: black;
  width: 230px;
  position: fixed;
  overflow-y: scroll;
  height: calc(100vh - 40px);
  top: 60px;
  padding-left: 5px;
  padding-right: 5px;
  transition: width 0.3s, transform 0.3s ease-in-out;
  box-shadow: 1px 0px 0px 0px #12203b17;}
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  /* -ms-overflow-style: none;   */
  -ms-overflow-style: none;  

  scrollbar-width: none;  
}
.sidebar.closed {
  width: 55px;
}

.sidebar-menu {
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  /* margin: 0; */
  margin-top: 28px;
  cursor: pointer;
  /* margin-bottom: 50px;  */
}
.sidebar-menu-container ul li{
  margin: 5px;
}

.sidebar-png-icon{
  width: 23px;
  height: 25px;
}

.Link{
  text-decoration-style: none;
  text-decoration: none;
}
.menu-item {
  padding: 17px;
  display: flex;
  gap: 5px;
  align-items: center;
  color:#3F3F46 ;
  margin-top: 5px;
  /* justify-content: center ; */
}

.sidebar.closed .menu-item {
  justify-content: center ;

}

.menu-item i {
  font-size: 18px;
}

.menu-item ul li Link span{
  margin-left: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: #3F3F46 !important;
  text-decoration: none !important;
}
a {
  color: #3F3F46 !important;
  text-decoration: none !important;
}

.menu-item svg{
  color: #3F3F46;
  font-size: 15px;
  position: relative;
  /* right: 4px; */
}

.sidebar.closed .menu-item span {
  display: none; /* Hide text when sidebar is closed */
}
/* Bottom section */
.sidebar-bottom {
  background-color: #ffffff;
  color: black;
  transition: padding-bottom 0.3s ease; /* Add a transition for smooth change */
}

.sidebar.open .sidebar-bottom {
  padding-top: 120%;
  padding-bottom: 39%; /* Apply 65% when the sidebar is open */
}

.sidebar.closed .sidebar-bottom {
  padding-top: 520%;
  padding-bottom: 140%; /* Apply 126% when the sidebar is closed */
}

.sidebar-menu-container{
  background-color: #ffffff;
}




/* for actively hover  */
.menu-item.active:hover,
.menu-item.active {
  background-color: var(--color-primary);/* Change background on active or hover */
  cursor: pointer; /* Indicate it's clickable */
  border-radius: 8px;
  /* width: 87%; */
  text-decoration: none;
  color: #ffffff !important;
}

.menu-item:hover {
  background-color: var(--color-primary);; /* Optional: Change background on hover */
  /* width: 90%; */
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  color: #ffffff !important;
}

.menu-item.active span{
  color: #fff; /* Text color when active */
}

.menu-item.active svg {
  color: #fff; /* Icon color when active */
}
.menu-item:hover svg {
  color: #fff; /* Icon color on hover */
}

.menu-item:hover span {
  color: #fff; /* Text color on hover */
}

.sidebar.closed .menu-item svg {
  font-size: 20px;
}

.sidebar.closed {
  width: 70px;
}

/* Tablet screens */
@media (max-width: 1024px) {
  .sidebar {
    width: 200px;
  }

  .sidebar.closed {
    width: 70px;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: 1000;
    width: 150px;
    transform: translateX(-100%);
    height: 101vh;
  }

  .sidebar.open {
    width: 150px !important;
    transform: translateX(0); /* Show sidebar */
    top: 54px;
    position: fixed;
  }

  .sidebar.closed {
    width: 80px;
    transform: translateX(-100%); /* Hide sidebar when closed on mobile */
    top: 54px;
  }
  .sidebar.open .sidebar-bottom {
    padding-bottom: 65%; /* Apply 65% when the sidebar is open */
  }
}
